.destination-page {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
}

@media (max-width: 991px) {
    .destination-page {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }
}

@media (max-width: 767px) {
    .destination-page {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }
}

.destination-wrapper {
    max-width: 1145px;
    padding-left: 82px;
    padding-right: 15px;
    margin: auto;
    padding-bottom: 112px;
    padding-top: 76px;
    color: #ffffff;
}

.destination-wrapper .page-title {
    margin-left: -64px;
}

.destination-wrapper-inner {
    margin-top: 64px;
}

.selected-destination {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.selected-destination div:first-child {
    max-width: 445px;
    max-height: 445px;
}

.selected-destination div:nth-child(2) {
    max-width: 445px;
    margin-bottom: 6px;
}

.destination-wrapper-inner h1 {
    font-size: 100px;
    margin-bottom: 14px;
    margin-top: 37px;
}

.destination-info {
    border-bottom: 1px solid #383B4B;
    padding-bottom: 54px;
    margin-bottom: 28px;
}

.destination-page-nav {
    padding: 0;
    text-align: right;
    padding-right: 160px;
}

.destination-idle,
.destination-active {
    display: inline;
    margin-left: 35px;
}

.destination-idle:first-child,
.destination-active:first-child {
    margin-left: 0;
}

.destination-page-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}

.destination-idle:hover a {
    border-bottom: 3px solid #FFFFFF7F;
}

.destination-active a {
    border-bottom: 3px solid #FFFFFF !important;
    color: #ffffff;
}

.destination-details {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.destination-details span p:first-child {
    font-size: 14px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
    line-height: normal;
}

.destination-details span p:nth-child(2) {
    font-size: 28px;
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .destination-wrapper .page-title {
        margin-left: -34px;
    }

    .selected-destination div:first-child {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 991px) {
    .destination-wrapper {
        max-width: 730px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 62px;
        padding-top: 40px;
    }

    .destination-wrapper .page-title {
        margin-left: 0;
    }

    .destination-wrapper-inner {
        margin-top: 60px;
    }

    .destination-page-nav {
        position: relative;
        top: 353px;
        padding-right: 0;
        text-align: center;
    }

    .selected-destination {
        flex-direction: column;
        margin-top: -34px;
        align-items: center;
    }

    .selected-destination div:first-child {
        max-width: 300px;
    }

    .selected-destination div:nth-child(2) {
        max-width: 100%;
    }

    .destination-wrapper-inner h1 {
        margin-top: 120px;
        text-align: center;
        font-size: 80px;
        margin-bottom: 8px;
    }

    .destination-info {
        padding-bottom: 49px;
        max-width: 573px !important;
        text-align: center;
        margin-top: 0;
    }

    .destination-details {
        padding-right: 0px;
        max-width: 450px;
        margin: auto;
    }

    .destination-details p {
        line-height: normal !important;
    }

    .destination-details span:first-child {
        width: 216px;
        text-align: center;
    }

    .destination-details span:nth-child(2) {
        width: 223px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .destination-wrapper {
        max-width: 357px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 58px;
        padding-top: 24px;
    }

    .destination-wrapper-inner {
        margin-top: 32px;
    }

    .destination-page-nav {
        top: 196px;
        font-size: 14px;
    }

    .destination-idle,
    .destination-active {
        margin-left: 27px;
    }

    .destination-page-nav a {
        letter-spacing: 2.4px;
        padding-bottom: 8px;
    }

    .selected-destination div:first-child {
        max-width: 170px;
    }

    .destination-wrapper-inner h1 {
        font-size: 56px;
        margin-top: 74px;
        margin-bottom: 0;
    }

    .destination-info {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }

    .destination-details {
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
}