.header {
    padding-left: 55px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.header-logo {
    flex-shrink: 0;
    display: flex;
    margin-right: 64px;
}

.header-logo img {
    max-width: 100%;
}

.header div:empty {
    flex: 1 0 473px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-right: -30px;
}

.header-nav {
    flex-shrink: 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 48px;
    background-color: rgba(255, 255, 255, 0.04);
    padding-left: 123px;
    padding-right: 165px;
    margin: 0;
}

.header-nav li {
    padding-top: 39px;
    padding-bottom: 35px;
}

.page-active {
    border-bottom: 3px solid #ffffff;
}

.page-idle {
    border-bottom: 3px solid transparent;
}

.page-idle:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.header-nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.header-nav a span:first-child {
    font-weight: 700;
    margin-right: 11px;
}

.header-nav a span:nth-child(2) {
    font-weight: 400;
}