.header {
    padding-left: 55px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.header div:empty {
    width: 473px;
    height: 1px;
    background-color: #979797;
}

.header-nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 48px;
    background-color: #ece6e612;
    width: 58%;
    padding-left: 123px;
    padding-right: auto;
    margin-left: -100px;
}

.header-nav li {
    padding: 20px 0px;
    border-bottom: 2px solid white;
}

.header-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


.header-nav a span:first-child {
     font-family: "Barlow", sans-serif;
     font-size:16px;
     font-weight: 700;
     margin-right: 12px;
}

.header-nav a span:nth-child(2){
     font-family: "Barlow", sans-serif;
     font-size:16px;
     font-weight: 400;
}