.home-page {
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: 100% 100%;
}

@media (max-width: 991px) {
    .home-page {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
}

@media (max-width: 767px) {
    .home-page {
        background-image: url("../assets/home/background-home-mobile.jpg");
    }
}

.home-wrapper {
    max-width: 1316px;
    padding-left: 103px;
    padding-right: 15px;
    margin: auto;
    padding-top: 251px;
    padding-bottom: 43px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.home-wrapper h3 {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4.7px;
    margin: 0;
    font-weight: 400;
    color: #D0D6F9;
    font-family: "Barlow Condensed", sans-serif;
}

.home-wrapper h1 {
    text-transform: uppercase;
    font-family: "Bellefair", serif;
    font-size: 150px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.home-wrapper p {
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    max-width: 444px;
}

.home-explore {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b0d17;
    font-family: "Bellefair", serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    cursor: pointer;
}

.home-explore:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.home-explore span {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .home-explore {
        width: 400px;
        height: 400px;
    }

    .home-explore span {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 991px) {
    .home-wrapper {
        flex-direction: column;
        text-align: center;
        padding-top: 106px;
        padding-bottom: 90px;
        gap: 156px;
        align-items: center;
        max-width: 500px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .home-wrapper h1 {
        margin-top: 24px;
        margin-bottom: 24px;
        line-height: 150px;
    }

    .home-wrapper h3 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .home-wrapper p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .home-explore {
        width: 242px;
        height: 242px;
        margin-top: 0;
    }

    .home-explore span {
        width: 242px;
        height: 242px;
    }
}

@media (max-width: 767px) {
    .home-wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
        gap: 81px;
        max-width: 347px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-wrapper h1 {
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 100px;
        font-size: 80px;
    }

    .home-wrapper h3 {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .home-wrapper p {
        font-size: 15px;
        line-height: 25px;
    }

    .home-explore {
        width: 150px;
        height: 150px;
    }

    .home-explore span {
        width: 150px;
        height: 150px;
        font-size: 20px;
        letter-spacing: 1.25px;
    }
}