.technology-page {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-size: 100% 100%;
}

@media (max-width: 991px) {
    .technology-page {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }

    .vehicle .page-img {
        content: url("../assets/technology/image-launch-vehicle-landscape.jpg");
        width: 768px;
        height: 310px;
    }

    .capsule .page-img {
        content: url("../assets/technology/image-space-capsule-landscape.jpg")
    }

    .spaceport .page-img {
        content: url("../assets/technology/image-spaceport-landscape.jpg")
    }
}

@media (max-width: 767px) {
    .technology-page {
        background-image: url("../assets/technology/background-technology-mobile.jpg");
        height: 100vh;
    }
}

.technology-wrapper {
    padding-top: 76px;
    padding-bottom: 101px;
    padding-left: 25px;
    margin-left: auto;
    max-width: 1300px;
    color: #FFFFFF;
}

.technology-wrapper-inner {
    display: flex;
    gap: 80px;
    margin-top: 26px;
}

.selected-technology {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.selected-technology .page-content {
    padding-top: 111px;
}

.technology-wrapper-inner h3 {
    font-family: "Barlow Condensed", sans-serif;
    color: #D0D6F9;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0;
}

.technology-wrapper-inner h1 {
    font-size: 56px;
    margin-top: 11px;
    margin-bottom: 17px;
}

.technology-page-nav {
    list-style: none;
    padding: 0;
    padding-top: 111px;
    margin: 0;
}

.technology-page-nav li {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.technology-page-nav a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-family: "Bellefair", serif;
    font-size: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.technology-active {
    background-color: #FFFFFF;
}

.technology-active a {
    color: #0B0D17;
}

.technology-idle {
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.technology-idle:hover {
    border: 1px solid #FFFFFF;
}

@media (max-width: 1320px) {
    .technology-wrapper {
        padding-left: 55px;
    }

    .technology-wrapper-inner {
        gap: 65px;
    }

    .selected-technology .page-content {
        padding-top: 90px;
        padding-right: 30px;
    }

    .selected-technology .page-img img {
        object-fit: cover;
    }

    .technology-page-nav {
        padding-top: 90px;
    }

    .technology-wrapper-inner h1 {
        font-size: 50px;
        white-space: nowrap;
    }
}

@media (max-width: 1100px) {
   .technology-wrapper-inner {
        gap: 40px;
    }

    .selected-technology .page-content {
        padding-right: 40px;
        padding-top: 70px;
    }

    .technology-page-nav {
        padding-top: 70px;
    }
}

@media (max-width: 991px) {
    .technology-wrapper {
        padding-top: 40px;
        padding-bottom: 97px;
        max-width: 768px;
        margin: auto;
        padding-left: 0;
    }

    .technology-wrapper-inner {
        flex-direction: column;
        gap: 0px;
        margin-top: 0;
    }

    .technology-wrapper .page-title {
        padding-left: 38px;
    }

    .selected-technology {
        flex-direction: column-reverse;
        align-items: center;
        gap: 160px;
        text-align: center;
    }

    .selected-technology .page-content {
        padding: 0;
    }

    .selected-technology .page-content p {
        margin-bottom: 0;
    }

    .technology-wrapper-inner h1 {
        font-size: 40px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .technology-page-nav {
        padding: 0;
        display: flex;
        gap: 16px;
        justify-content: center;
        position: relative;
        top: 426px;
    }

    .technology-page-nav li {
        width: 60px;
        height: 60px;
        margin-bottom: 0;
    }

    .technology-page-nav a {
        font-size: 24px;
    }
}


@media (max-width: 767px) {
    .technology-wrapper {
        padding-top: 24px;
        padding-bottom: 81px;
    }

    .technology-wrapper .page-title {
        padding: 0;
    }

    .selected-technology {
        gap: 100px;
        margin-top: -8px;
    }

    .selected-technology .page-img {
        width: 375px;
        height: 170px;
    }

    .technology-wrapper-inner h1 {
        font-size: 24px;
        margin-top: 9px;
    }

    .technology-wrapper-inner h3 {
        font-size: 14px;
        letter-spacing: 2.36px;
    }

    .technology-wrapper-inner p {
        font-size: 15px;
    }

    .technology-page-nav {
        top: 236px;
    }

    .technology-page-nav li {
        width: 40px;
        height: 40px;
    }

    .technology-page-nav a {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 375px) {
    .selected-technology .page-img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 360px) {
    .technology-wrapper-inner p {
        padding: 0 15px;
    }
}