* {
    box-sizing: border-box;
}

html,
body {
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

.page-title {
    font-family: "Barlow Condensed", sans-serif;
    color: #FFFFFF;
    letter-spacing: 4.72px;
    font-size: 28px;
    text-transform: uppercase;
}

.page-title span:first-child {
    opacity: 25%;
    font-weight: 700;
    margin-right: 24px;
}

.page-title span:nth-child(2) {
    font-weight: 400;
}

.page-content p {
    font-size: 18px;
    line-height: 32px;
    font-family: "Barlow", sans-serif;
    color: #D0D6F9;
    max-width: 444px;
}

.page-content h1 {
    font-family: "Bellefair", serif;
    text-transform: uppercase;
    font-weight: 400;
}

.page-img {
    display: flex;
}

.page-img img {
    max-width: 100%;
}



@media (max-width: 991px) {
    .page-title {
        letter-spacing: 3.38px;
        font-size: 20px;
    }

    .page-title span:first-child {
        margin-right: 16px;
    }

    .page-content p {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    .page-title {
        letter-spacing: 2.7px;
        font-size: 16px;
        text-align: center;
    }

    .page-content p {
        font-size: 15px;
        line-height: 25px;
        max-width: 327px !important;
    }
}